section(class="block-ad")
	h3(class="ad-title title")
		span Реклама 
		| на портале
	div(class="ad-wrapper")
		div(class="ad-slider")
			div(class="slide")
				div(class="slide-image")
					img(src="images/ad-img.jpg" alt="Реклама" width="289" height="356")