div(class="block-dating-menu")
	ul
		li
			a(class="dating-menu-link active" href="#") Главная
		li
			a(class="dating-menu-link" href="#") Моя страница
		li
			a(class="dating-menu-link" href="#") Мои сообщения
		li
			a(class="dating-menu-link" href="#")
				span Premium 
				| анкеты
		li
			a(class="dating-menu-link" href="#") Поиск анкет
		li
			a(class="dating-menu-link colored1" href="#") Редактировать информацию
		li
			a(class="dating-menu-link colored2" href="#") Выход