section(class="block-events")
	h3(class="events-title title")
		span События 
	div(class="calendar-wrapper")
		table(class="calendar-panel")
			tr
				td
					a(href="#") Сегодня
				td
					a(href="#") Завтра
				td
					a(href="#") Послезавтра
				td(class="show-calendar")
		div(class="events-wrapper")
			div(class="event")
				div(class="event-date")
					span 2 февраля
					span 10:00
				div(class="event-title") Бесплатно в один из парков "Романтики тысячелетий"
				div(class="event-description") 28.01.2017 - 11.02.2017 Театр "Романтика тысячелетий"
			div(class="event")
				div(class="event-date")
					span 2 февраля
					span 20:00
				div(class="event-title") Золотая лихорадка в Мьюзе
				div(class="event-description") 2.02.2017 - S’MUSE
		div(class="previews-show-all")
			a(href="#") все события