footer(class="block-footer")
	div(class="site-wrap")
		div(class="footer-menu-wrapper")
			ul(class="footer-menu")
				li(class="footer-menu-item")
					div(class="item-title toggle toggle-js") О хайнане
					ul(class="submenu footer-submenu-js")
						li(class="submenu-item")
							a(class="submenu-title" href="#") Карта Хайнаня
						li(class="submenu-item")
							a(class="submenu-title" href="#") Факты об острове
						li(class="submenu-item")
							a(class="submenu-title" href="#") Визовый режим
						li(class="submenu-item")
							a(class="submenu-title" href="#") Перелёт на остров
						li(class="submenu-item")
							a(class="submenu-title" href="#") Достопримечательности
						li(class="submenu-item")
							a(class="submenu-title" href="#") Медицина
						li(class="submenu-item")
							a(class="submenu-title" href="#") Образование
						li(class="submenu-item")
							a(class="submenu-title" href="#") Проживание на острове
						li(class="submenu-item")
							a(class="submenu-title" href="#") Хайнаньская кухня
						li(class="submenu-item")
							a(class="submenu-title" href="#") Фотогалерея
						li(class="submenu-item")
							a(class="submenu-title" href="#") Видеогалерея
				li(class="footer-menu-item")
					a(class="item-title" href="#") Хайнань сегодня
				li(class="footer-menu-item")
					a(class="item-title" href="#") Сотружество HNL
				li(class="footer-menu-item")
					a(class="item-title" href="#") Партнеры
				li(class="footer-menu-item")
					a(class="item-title" href="#") Путеводитель по Хайнаню
				li(class="footer-menu-item")
					a(class="item-title" href="#") Календарь мероприятий
				li(class="footer-menu-item")
					a(class="item-title" href="#") Служба знакомств
				li(class="footer-menu-item")
					a(class="item-title" href="#") Форум
		div(class="footer-bottom")
			div(class="footer-contacts")
				div(class="footer-contacts-tel") +86-185-059-397-87
				div(class="footer-contacts-adress") о. Хайнань, г. Хайкоу
				a(class="footer-contacts-mail" href="mailto:hainanlife@163.com") hainanlife@163.com
			div(class="footer-social")
				a(class="footer-social-item tw" href="#")
				a(class="footer-social-item rss" href="#")
				a(class="footer-social-item yt" href="#")
				a(class="footer-social-item fb" href="#")
			div(class="footer-description")
				p
					| Остров Хайнань называют «Восточными Гавайями», «Таиландом eв миниатюре». Но зачем клеить чужие ярлыки на то, что достойно своего собственного имени? Это прекрасное место представляет собой неповторимую палитру отдыха и развлечений, а также выбора программ образования и лечения.
			a(class="footer-copyright" href="https://semprogroup.ru/")
				span Под чуткой заботой SEMPROGROUP