section(class="block-forumPreview")
	h3(class="forumPreview-title") Форум
	div(class="items")
		a(class="item" href="#")
			div(class="post-title") Тусовки на Хайнане
			div(class="post-text") Последнее сообщение от Уважаемая Редакция
			div(class="date") 28 Января 2017
		a(class="item" href="#")
			div(class="post-title") Тусовки на Хайнане
			div(class="post-text") Последнее сообщение от Уважаемая Редакция
			div(class="date") 28 Января 2017
		a(class="item" href="#")
			div(class="post-title") Тусовки на Хайнане
			div(class="post-text") Последнее сообщение от Уважаемая Редакция
			div(class="date") 28 Января 2017
		a(class="item" href="#")
			div(class="post-title") Тусовки на Хайнане
			div(class="post-text") Последнее сообщение от Уважаемая Редакция
			div(class="date") 28 Января 2017
		a(class="item" href="#")
			div(class="post-title") Тусовки на Хайнане
			div(class="post-text") Последнее сообщение от Уважаемая Редакция
			div(class="date") 28 Января 2017