header(class="block-header")
	div(class="site-wrap")
		div(class="header-wrapper clearfix")
			div(class="header-menu-toggle")
			div(class="header-logo-wrapper")
				div(class="header-logo")
					a(href="#")
						img(src="images/main-logo.png" width="186" height="39" alt="Логотип")
			div(class="header-sign")