div(class="block-paginator")
	div(class="paginator-wrp")
		a(class="paginator-item prev" href="#") Назад
		a(class="paginator-item" href="#") 1
		a(class="paginator-item" href="#") 2
		a(class="paginator-item active") 3
		a(class="paginator-item" href="#") 4
		a(class="paginator-item" href="#") 5
		a(class="paginator-item next" href="#") Вперед