extends ../layout/layout

block title 
	| Конкурсы

block content

	section(class="block-content")
		div(class="site-wrap")
			section(class="block-breadcrumbs")
				a(class="breadcrumbs-item home" href="index.html")
				a(class="breadcrumbs-item" href="#") Содружество HNL
				a(class="breadcrumbs-item" href="#") Конкурсы
				span(class="breadcrumbs-item current") Конкурс моделей Цзингун

			section(class="block-contestTsigun")

				h2(class="contestTsigun-title section-title") Конкурс моделей Цзингун

				div(class="contestTsigun-description")
					div(class="description-text")
						p Описание конкурса и вопросы-ответы на русском: 
					a(class="description-link" href="#") http://hainanlife.ru/hainan_today/blog_editors/faq_jinggong_50356/
					div(class="description-text")
						p Contest introduction and FAQ in English: 
					a(class="description-link" href="#") http://hainanlife.ru/hainan_today/blog_editors/jinggong_model_contest_faq_50414/ 

				div(class="contestTsigun-items women")

					div(class="items-title-wrp")
						h3(class="contestTsigun-items-title") Участницы конкурса
						h3(class="contestTsigun-items-title") Registered Contestants: girls

					a(class="item" href="#")
						div(class="image")
							img(src="images/dev1.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Aleksandra Gatalskaya
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этой участнице отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					a(class="item" href="#")
						div(class="image")
							img(src="images/dev2.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Anita Tihanova
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этой участнице отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					a(class="item" href="#")
						div(class="image")
							img(src="images/dev3.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Darya Sakalova
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этой участнице отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					a(class="item" href="#")
						div(class="image")
							img(src="images/dev4.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Ekaterina Nesterovich
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этой участнице отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					div(class="show-all")
						div(class="show-all-btn") Все участницы


				div(class="contestTsigun-items men")

					div(class="items-title-wrp")
						h3(class="contestTsigun-items-title") Участники конкурса
						h3(class="contestTsigun-items-title") Registered Contestants: boys

					a(class="item" href="#")
						div(class="image")
							img(src="images/man1.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Benjamin Ley
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этому участнику отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					a(class="item" href="#")
						div(class="image")
							img(src="images/man2.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Benjamin Ley
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этому участнику отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					a(class="item" href="#")
						div(class="image")
							img(src="images/man3.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Benjamin Ley
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этому участнику отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					a(class="item" href="#")
						div(class="image")
							img(src="images/man4.jpg" alt="Фото" width="290" height="214")
							div(class="flag") #[span 20] место
						div(class="item-wrp")
							div(class="tenderer")
								div(class="name") Benjamin Ley
								div(class="location") Belarus 
							div(class="votes")
								div(class="description") 
								div(class="text") Этому участнику отдали голосов:
								div(class="scale")
									div(class="scale-fill")
									div(class="scale-num") 0,14%

					div(class="show-all")
						a(class="show-all-btn" href="#") Все участники

			include ../blocks/comments
			include ../blocks/ad