extends ../layout/layout

block title 
	| Лист контрибьютеров

block content

	section(class="block-content")
		div(class="site-wrap")
			section(class="block-breadcrumbs")
				a(class="breadcrumbs-item home" href="index.html")
				a(class="breadcrumbs-item" href="#") Содружество HNL
				span(class="breadcrumbs-item current") Лист контри... 

			section(class="block-contributorList")
				h2(class="contributorList-title section-title") Лист контрибьютеров

				div(class="contributorList-categories")
					div(class="categories-wrp")
						div(class="row")
							div(class="item item1 active")
								a(href="#") Все (10 494)
							div(class="item item2")
								a(href="#") Топ 10
							div(class="item item3")
								a(href="#") Топ 100

				div(class="contributorList-items")
					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
							div(class="materials")
								div(class="materials-title title") Пос. материалы
								div(class="materials-wrp")
									a(class="materials-item" href="#")
										img(src="images/sodr1.png" alt="Материал" width="42" height="42")
									a(class="materials-item" href="#")
										img(src="images/sodr2.png" alt="Материал" width="42" height="42")
									a(class="materials-item" href="#")
										img(src="images/sodr3.png" alt="Материал" width="42" height="42")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon3.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon3.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon3.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon3.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon3.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon1.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon1.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon1.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon1.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon1.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
							div(class="materials")
								div(class="materials-title title") Пос. материалы
								div(class="materials-wrp")
									a(class="materials-item" href="#")
										img(src="images/sodr2.png" alt="Материал" width="42" height="42")
									a(class="materials-item" href="#")
										img(src="images/sodr5.png" alt="Материал" width="42" height="42")
									a(class="materials-item" href="#")
										img(src="images/sodr1.png" alt="Материал" width="42" height="42")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

					div(class="contributorList-item")
						div(class="contributor")
							div(class="contributor-title title") Контрибьютер
							a(class="contributor-wrp" href="#")
								div(class="contributor-name") Roberttourf 
								time(class="contributor-date" datetime="2017-05-09") 09 Марта 2017
								div(class="contributor-photo")
						div(class="ratings")
							div(class="ratings-all")
								div(class="ratings-title title") Рейтинг
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon4.png" alt="Рейтинг" width="13" height="13")
							div(class="ratings-month")
								div(class="ratings-title title") За месяц
								div(class="ratings-num") 0
								div(class="ratings-items")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")
									div(class="item")
										img(src="images/rating-icon2.png" alt="Рейтинг" width="13" height="13")

				include ../blocks/paginator

			include ../blocks/events
			include ../blocks/comments
			include ../blocks/ad