extends ../layout/layout

block title 
	| Главная страница

block content 
	section(class="block-comments")
		div(class="comments-title title") Комментарии
		div(class="comments-items")
			div(class="comments-item")
				div(class="comments-wrapper")
					div(class="comments-name") 悦心 (Yue Xin) 
					div(class="comments-date") 28 Января 2017
				div(class="comments-message") Это не Эрик.... Юра, но не Эрик!
				div(class="comments-description") в теме: Дикий Пляж в Санья
			div(class="comments-item")
				div(class="comments-wrapper")
					div(class="comments-name") 悦心 (Yue Xin) 
					div(class="comments-date") 28 Января 2017
				div(class="comments-message") Это не Эрик.... Юра, но не Эрик!
				div(class="comments-description") в теме: Дикий Пляж в Санья
			div(class="comments-item")
				div(class="comments-wrapper")
					div(class="comments-name") 悦心 (Yue Xin) 
					div(class="comments-date") 28 Января 2017
				div(class="comments-message") Это не Эрик.... Юра, но не Эрик!
				div(class="comments-description") в теме: Дикий Пляж в Санья

