extends ../layout/layout

block title 
	| Главная страница

block content 

	section(class="block-content")
		div(class="site-wrap")
			section(class="block-previews")
				div(class="previews-item news")
					h3(class="previews-title title")
						span Новости 
						| Хайнаня
					div(class="previews-item-slider")
						div(class="slide")
							a(class="previews-main-article" href="aboutHainanFotoFull.html")
								div(class="main-article-img")
									img(src="images/news-img.jpg" alt="Изображение к новости" width="290" height="136")
									div(class="main-article-description")
										h3(class="title") Новогодние мемы
										div(class="autor") Анастасия, 2 февраля 2017
							div(class="articles-wrapper")
								a(class="previews-article" href="#")
									h3(class="title") Романтика тысячелетий ждёт Вас! 
									div(class="autor") 悦心 (Yue Xin), 29 Января 2017
									div(class="text") А у нас специальная программа! Почти бесплатно!
								a(class="previews-article" href="#")
									h3(class="title") Регата "Компас" состоится в апреле.
									div(class="autor") Уважаемая, 31 Января 2017
									div(class="text") Один из немногих легальных способов для иностранцев побывать у Саньша.
				div(class="previews-show-all")
					a(href="#") все новости

				div(class="previews-item objects")
					h3(class="previews-title title")
						span Лучшие заведения 
						| на Хайнане 
					div(class="select-form-wrapper")
						form(class="select-form" action="#" method="post" name="specialists-filter-form")
							select(class="select" name="select-section" tabindex="1")
								option(value="option1") Значение 1
								option(value="option1") Значение 3
					div(class="previews-item-slider")
						a(class="slide" href="#")
							div(class="slide-img")
								img(src="images/resto.jpg" alt="Рестораны" width="286" height="140")
							div(class="slide-description")
								h3(class="slide-description-title") "Лемон грасс" - тайский ресторан
								div(class="slide-description-text") Санья, Улица Саньявань Лу 88, комплекс "Берег ...
								div(class="slide-description-testimonials")
									div(class="text") Отзывов: 1
									div(class="likes") 
										span(class="like")
										span(class="like")
										span(class="like")
										span(class="like")
										span(class="like")
				div(class="previews-show-all objects")
					a(href="#") все объекты



				div(class="previews-item photos")
					h3(class="previews-title title")
						span Новые 
						| Фото
					div(class="slider-wrapper")
						div(class="slider")
							div(class="slide")
								div(class="photo-wrapper")
									div(class="big-photo")
										a(href="#")
											img(src="images/preview-photo1.jpg" alt="Фото" width="280" height="164")
									div(class="mini-photos")
										a(href="")
											img(src="images/preview-photo2.jpg" alt="Фото" width="90" height="88")
										a(href="")
											img(src="images/preview-photo3.jpg" alt="Фото" width="90" height="88")
										a(class="all" href="#")
											span 4 
											| фото
				div(class="previews-show-all")
					a(href="#") все фото

				div(class="previews-item video")
					h3(class="previews-title title")
						span Новые 
						| Видео
					div(class="slider-wrapper")
						div(class="slider")
							div(class="slide")
								div(class="video")
					div(class="previews-show-all")
						a(href="#") все видео

				include ../blocks/events

				div(class="previews-item blogs")
					h3(class="previews-title title")
						span Новое 
						| в блогах
					div(class="slider-wrapper")
						div(class="slider")
							div(class="slide")
								div(class="blogs-items")
									div(class="blogs-item sec1")
										div(class="blogs-wrapper")
											div(class="blogs-name") 悦心 (Yue Xin) 
											div(class="blogs-date") 30 Января 2017
											div(class="blogs-foto")
										a(class="blogs-content" href="#")
											div(class="blogs-img")
												img(src="images/blogs-img.jpg" alt="Фото" width="290" height="136")
											div(class="blogs-text")
												div(class="blogs-title") Топ фильмов, снятых на Хайнане 
												div(class="blogs-description") Что посмотреть, чтобы прочувствовать ритм Хайнаня. 
									div(class="blogs-item sec2")
										div(class="blogs-wrapper")
											div(class="blogs-name") 悦心 (Yue Xin) 
											div(class="blogs-date") 30 Января 2017
											div(class="blogs-foto")
										a(class="blogs-content" href="#")
											div(class="blogs-img")
												img(src="images/blogs-img2.jpg" alt="Фото" width="290" height="136")
											div(class="blogs-text")
												div(class="blogs-title") Что случилось с набережной в Дадунхае? 
												div(class="blogs-description") Не спрятаться, не скрыться...
					div(class="previews-show-all")
						a(href="#") все блоги

			include ../blocks/comments
			include ../blocks/ad

