extends ../layout/layout

block title 
	| Страница пользователя

block content

	section(class="block-content")
		div(class="site-wrap")
			section(class="block-breadcrumbs")
				a(class="breadcrumbs-item home" href="index.html")
				span(class="breadcrumbs-item current") Страница пользователя

			section(class="block-profile")
				div(class="profile-top")
					div(class="photo")
						img(src="images/photo-sample.png" alt="Фотография" width="196" height="196")
					div(class="description") Обычная карта

				div(class="profile-rating")
					div(class="rating-sum")
						div(class="title") Суммарный рейтинг:
						div(class="rating-wrp")
							span(class="num") 0
							span(class="items")
								span(class="item item1")
								span(class="item item2")
								span(class="item item3")
								span(class="item item4")
								span(class="item item5")
					div(class="rating-month")
						div(class="title") За месяц:
						div(class="rating-wrp")
							span(class="num") 0
							span(class="items")
								span(class="item item1")
								span(class="item item2")
								span(class="item item3")
								span(class="item item4")
								span(class="item item5")

				div(class="profile-user")
					div(class="profile-wrp")
						div(class="name") Roberttourf Roberttourf
						div(class="since") на портале с 
							span 09.03.2017 
						div(class="dating")
							a(href="#") в службе знакомств
						div(class="settings")
							a(href="#") Настройка профиля
						div(class="select-wrp")
							select(class="add" name="add")
								option(value="" disabled selected style='display:none;') Добавить
								option(value="option1") Значение 1
								option(value="option1") Значение 3
					div(class="image")
						img(src="images/sun.jpg" alt="Фотография" width="240" height="225")

				div(class="profile-categories")
					div(class="categories-wrp")
						div(class="row row1")
							div(class="item item1 active")
								a(href="#") Всего (12)
							div(class="item item2")
								a(href="#") Объекты 0
							div(class="item item3")
								a(href="#") События 0
						div(class="row row2")
							div(class="item item1")
								a(href="#") Запись в блоге 0
							div(class="item item2")
								a(href="#") Фото 0
							div(class="item item3")
								a(href="#") Видео 1

					div(class="categories-show")
						div(class="show-item")
							div(class="autor")
								div(class="name") 悦心 (Yue Xin) 
								div(class="date") 30 Января 2017
								div(class="foto")
							a(class="photo-wrapper" href="#")
								div(class="big-photo")
									img(src="images/gal1-big.jpg" alt="Фото" width="290" height="164")
								div(class="mini-photos")
									div(class="itm")
										img(src="images/gal-mini.jpg" alt="Фото" width="90" height="89")
									div(class="itm")
										img(src="images/gal-mini.jpg" alt="Фото" width="90" height="89")
									div(class="itm")
										img(src="images/gal-mini.jpg" alt="Фото" width="90" height="89")
									div(class="itm")
										img(src="images/gal-mini.jpg" alt="Фото" width="90" height="89")
									div(class="itm")
										img(src="images/gal-mini.jpg" alt="Фото" width="90" height="89")
									div(class="itm all" href="#")
										span 6 
										| фото

						div(class="show-more-albums")
							div(class="more-albums-wrp")
								a(class="more-albums-btn" href="#") Показать больше альбомов

			include ../blocks/events
			include ../blocks/comments
			include ../blocks/ad