/* ==========================================================================
	 ����� CSS3
	 ========================================================================== */

/* @import */

@import "blocks/header.css"; 
@import "blocks/footer.css"; 
@import "blocks/previews.css";
@import "blocks/ad.css"; 
@import "blocks/comments.css";
@import "blocks/events.css";
@import "blocks/forumPreview.css";
@import "blocks/breadcrumbs.css";
@import "blocks/paginator.css";
@import "blocks/contacts.css";

@import "blocks/partners.css";
@import "blocks/partners-list.css";

@import "blocks/fraternity.css";


@import "blocks/aboutHainan.css";
@import "blocks/aboutHainanFoto.css";
@import "blocks/aboutHainanFotoFull.css";
@import "blocks/aboutHainanPerelet.css";
@import "blocks/aboutHainanVideo.css";


@import "blocks/editPersonalSettings.css";
@import "blocks/addObject.css";
@import "blocks/addEvents.css";
@import "blocks/addPost.css";
@import "blocks/addAlbum.css";
@import "blocks/addVideo.css";


* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.transition,
.transition * {
	transition:all 0.2s ease-out;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

.section-title {
	font-size: 30px;
	font-weight: bold;
	color: #26c6da;
}

.slick-slide:focus { outline: none; }




.gradient {
	background-image:linear-gradient(top, #ffffff, #000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#000000');
}

.box-shadow {
	-ms-box-shadow:0px 0px 5px #000000;
	-o-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}

.transition {
	transition:all 0.2s ease-out;
}



