/* ==========================================================================
	 ����� CSS3
	 ========================================================================== */

/* @import blocks */

@import "blocks/header.css"; 
@import "blocks/footer.css"; 
@import "blocks/previews.css";
@import "blocks/ad.css"; 
@import "blocks/comments.css";
@import "blocks/events.css";
@import "blocks/forumPreview.css";
@import "blocks/breadcrumbs.css";
@import "blocks/paginator.css";
@import "blocks/contacts.css";
@import "blocks/partners.css";
@import "blocks/partners-list.css";
@import "blocks/fraternity.css";

@import "blocks/aboutHainan.css";
@import "blocks/aboutHainanFoto.css";
@import "blocks/aboutHainanFotoFull.css";
@import "blocks/aboutHainanPerelet.css";
@import "blocks/aboutHainanVideo.css";

@import "blocks/editPersonalSettings.css";

@import "blocks/addObject.css";
@import "blocks/addEvents.css";
@import "blocks/addPost.css";
@import "blocks/addAlbum.css";
@import "blocks/addVideo.css";

@import "blocks/dating.css";
@import "blocks/dating-menu.css";
@import "blocks/dating-search-form.css";
@import "blocks/datingEdit.css";
@import "blocks/datingQuestionnaire.css";
@import "blocks/datingMessages.css";
@import "blocks/datingMyPage.css";

@import "blocks/forum.css";
@import "blocks/profile.css";

@import "blocks/newsBlog.css";
@import "blocks/newsBlogFull.css";



* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.transition,
.transition * {
	transition:all 0.2s ease-out;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
}

.section-title {
	font-size: 30px;
	font-weight: bold;
	color: #26c6da;
}



.gradient {
	background-image:linear-gradient(top, #ffffff, #000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#000000');
}

.box-shadow {
	-ms-box-shadow:0px 0px 5px #000000;
	-o-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}

.transition {
	transition:all 0.2s ease-out;
}


/* slick.js custom css*/

.slick-slide:focus { outline: none; }


/*jQuery UI Range Slider custom css */

span.ui-slider-handle.ui-corner-all.ui-state-default {
	border-radius: 50%;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 16px;
	height: 16px;
	cursor: default;
	touch-action: none;
}
.ui-slider-horizontal {
		height: 4px;
}

.ui-widget-header {
	background: #26c6da;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	background: #0097a7;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid #ffffff;
}


.ui-slider-horizontal .ui-slider-handle {
	top: -6px;
}

.ui-widget.ui-widget-content {
	border:none;
	background: #0097a7;
}

span.ui-slider-handle.ui-corner-all.ui-state-default { 	
	outline: none;
}