.block-breadcrumbs {
	font-size: 0;
	padding: 0 15px;
	padding-top: 15px;
	background-color: #f9f4f4;
}

.breadcrumbs-item {
	display: inline-block;
	margin-bottom: 7px;
	vertical-align: middle;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background-color: #b5b5b5;
	color: #fff;
}

.breadcrumbs-item.home {
	width: 29px;
	height: 29px;
	background-color: #b5b5b5;
	border-radius: 50%;
	cursor: pointer;
}

.breadcrumbs-item.home::after {
	display: inline-block;
	content: '';
	width: 15px;
	height: 15px;
	margin-top: 6px;
	background:	url("../../images/sprite.png") -468px -5px no-repeat;
}

.breadcrumbs-item.current {
	background-color: #26c6da;
	color: #fff;
}

.breadcrumbs-item:not(.home) {
	position: relative;
	padding: 1px 9px 1px 9px;
	margin-left: 15px;
	border-radius: 20px;
}

.breadcrumbs-item:not(.home)::after {
	position: absolute;
	margin-left: 10px;
	content: '';
	width: 3px;
	height: 3px;
	top: 9px;
	left: -19px;
	background-color: #b5b5b5;
}