.block-dating-search-form {
	padding: 0 15px;
	padding-top: 24px;
	padding-bottom: 22px;
	border: 1px solid #eaeaea;
	background-color: #fff;
	font-size: 13px;
}

.search-form-sex {
	margin-bottom: 25px;
	font-size: 0;
}

.block-dating-search-form .form-title {
	margin-bottom: 7px;
}

.search-form-sex .checkbox-wrp {
	display: inline-block;
	vertical-align: top;
	margin-right: 39px;
	font-size: 13px;
}

.block-dating-search-form input[type="checkbox"] {
	display: none;
}

.block-dating-search-form label {
	position: relative;
	padding-left: 20px;
}

.block-dating-search-form input[type="checkbox"] + label::before {
	position: absolute;
	content: '';
	width: 13px;
	height: 13px;
	top: 3px;
	left: 0;
	background:	url("../../images/sprite.png") -2427px -5px no-repeat;
}

.block-dating-search-form input[type="checkbox"]:checked + label::before {
	background:	url("../../images/sprite.png") -68px -56px no-repeat;
}

.search-form-location {
	margin-bottom: 28px;
}

.search-form-location select, .search-form-goal select	{
	width: 100%;
	padding: 5px 0px;
	padding-right: 32px;
	padding-left: 13px;
	border: 1px solid #c4c4c4;
	color: #000;
	background-color: #fff;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background: #fff url("../../images/select-dw-icon.png") right 11px top 50% / 10px no-repeat
}

.search-form-location .select-wrp, .search-form-goal .select-wrp {
	position: relative;
}

.search-form-location .select-wrp::after, .search-form-goal .select-wrp::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	top: 0;
	right: 32px;
	background-color: #c4c4c4;
	cursor: pointer;
}

.search-form-age {
	margin-bottom: 21px;
}

.search-form-goal {
	margin-bottom: 14px;
}

.search-form-have-foto {
	margin-bottom: 23px;
}

.block-dating-search-form .search-btn {
	display: block;
	margin-bottom: 10px;
	border: none;
	padding: 10px 47px;
	font-weight: 600;
	color: #fff;
	background-color: #26c6da;
	border-radius: 7px;
}

.block-dating-search-form .ex-search {
	color: #26c6da;
	text-decoration: underline;

}

.search-form-age .input-label {
	padding: 0;
}

.range-slider-wrapper {
	margin-bottom: 26px;
	font-size: 0;
}

.slider-range-wrapper {
	padding: 0 15px;
}

.search-form-age .range-slider-input {
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.search-form-age .range-slider-input input{
	width: 71px;
	height: 32px;
	padding: 0 20px;
	text-align: center;
}