.block-datingMyPage {
	padding: 0 15px;
	padding-top: 17px;
	padding-bottom: 34px;
	background-color: #f9f4f4;
}

.datingMyPage-title {
	margin-bottom: 19px;
}

.block-datingMyPage .block-dating-menu {
	margin-bottom: 10px;
}

.block-datingMyPage .block-dating-search-form {
	margin-bottom: 25px;
}

.mypage img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.mypage-top {
	margin-bottom: 11px;
}

.mypage-top .verified-flag {
	position: absolute;
	width: 21px;
	height: 30px;
	top: -9px;
	right: 44px;
	background: url("../../images/sprite.png") -5px -5px no-repeat;
}

.mypage-top .premium-flag {
	position: absolute;
	width: 21px;
	height: 30px;
	top: -9px;
	right: 16px;
	background: url("../../images/sprite.png") -36px -5px no-repeat;
}

.mypage-top .online, .mypage-top .info {
	border: 1px solid #eaeaea;
	background-color: #fff;
	border-radius: 2px;
}

.mypage-top .online {
	position: relative;
	padding: 10px 0;
	padding-left: 23px;
	font-size: 13px;
}

.mypage-top .online span {
	position: relative;
}


.mypage-top .online span::after {
	position: absolute;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	top: 7px;
	left: -11px;
	background-color: #7d7d7d;
}

.mypage-top .info {
	padding: 15px 0;
	padding-left: 17px;
	font-size: 13px;
}

.mypage-top .age span {
	font-size: 14px;
	font-weight: 600;
}

.mypage-top .photo-nbr {
	position: relative;
	padding-left: 43px;
}

.mypage-top .photo-nbr::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 30px;
	top: -9px;
	left: 12px;
	background:	url("../../images/sprite.png") -1456px -5px no-repeat;
}

.mypage .add-album {
	position: relative;
	display: inline-block;
	padding: 10px 47px;
	border-radius: 5px;
	background-color: #00c925;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 18px;
}

.mypage .add-album span::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 28px;
	top: 6px;
	left: 9px;
	background:	url("../../images/sprite.png") -1605px -5px no-repeat;
}

.mypage-info {
	font-size: 13px;
	margin-bottom: 41px;
}


.mypage-info .name {
	margin-bottom: 15px;
	font-size: 20px;
	font-weight: 600;
	color: #26c6da;
}

.mypage-info div:not(.name) {
	margin-bottom: 12px;
}

.mypage-wrp span {
	position: relative;
	padding-right: 36px;
}

.mypage-wrp .eyes::after {
	position: absolute;
	content: '';
	width: 26px;
	height: 26px;
	top: -3px;
	left: 72px;
	border-radius: 50%;
	background-color: #9c6001;
}

.mypage-wrp .hair::after {
	position: absolute;
	content: '';
	width: 26px;
	height: 26px;
	border-radius: 50%;
	top: -3px;
	left: 84px;
	background-color: #48361d;
}

.mypage-info span {
	font-weight: 600;
}

.mypage-album {
	margin-bottom: 9px;
}

.mypage-album .title {
	margin-bottom: 21px;
	font-size: 16px;
	font-weight: 600;
	text-transform: none;
}

.mypage-album .description {
	margin-bottom: 17px;
	font-size: 14px;
}

.mypage-album .date {
	margin-bottom: 10px;
	font-size: 13px;
}

.mypage-album .photo {
	display: block;
	position: relative;
}

.mypage-album span.all {
	position: absolute;
	padding: 25px 0;
	width: 91px;
	height: 89px;
	bottom: 0;
	right: 0;
	font-weight: 600;
	color: #fff;
	text-align: center;
	background-color: #ffa726;
}

.mypage-album span.all span {
	font-size: 36px;
	font-weight: bold;
}

.mypage-edit a {
	display: inline-block;
	vertical-align: top;
	padding: 10px 10px;
	padding-left: 47px;
	padding-right: 96px;
	border-radius: 4px;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	background-color: #ffa726;
}

.mypage-edit a span{
	position: relative;
}

.mypage-edit a span::after{
	position: absolute;
	content: '';
	width: 26px;
	height: 27px;
	top: -5px;
	left: -35px;
	background: url("../../images/sprite.png") -765px -5px no-repeat;
}
