.block-footer {
	background: url("../../images/footer-bg.jpg") center center no-repeat;
	background-attachment: fixed;
}

.footer-menu-wrapper {
	padding-bottom: 10px;
}

.footer-menu-item {
	position: relative;
	display: block;
	border-bottom: 1px solid #459199;
}

.footer-menu-item .item-title {
	display: block;
	padding: 12px 0;
	padding-left: 15px;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0097a7;
}

.footer-menu-item:last-child {
	border-bottom: none;
}

.footer-menu-item .item-title.active {
	border-bottom: 5px solid #00c8dd;
}

.footer-menu .submenu {
	margin: 0;
	background-color: rgba(0, 37, 58, .7);
}

.footer-menu .submenu-title {
	display: block;
	padding: 3px 0;
	padding-left: 30px;
	border-bottom: 1px solid #459199;
	font-size: 13px;
	line-height: 36px;
	font-weight: 500;
	text-transform: none;
	color: #fff;
	text-decoration: underline;
}



.submenu-item:last-child .submenu-title {
	border-bottom: none;
}


.footer-bottom {
	padding: 0 15px;
	padding-top: 30px;
	background-color: rgba(0, 37, 58, .7);
}

.footer-contacts {
	padding-left: 20px;
}

.footer-contacts-tel{
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
}
.footer-contacts-adress{
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #fff;
}
.footer-contacts-mail{
	display: block;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #26c6da;
	text-decoration: underline;
	margin-bottom: 20px;
}

.footer-social {
	font-size: 0;
	margin-bottom: 40px;
}

.footer-social-item {
	display: inline-block;
	vertical-align: top;
	width: 33px;
	height: 32px;
	background-color: red;
}



.footer-description {
	padding-bottom: 36px;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #fff;
}

.footer-copyright {
	display: block;
	padding-bottom: 20px;
	font-size: 13px;
	line-height: 24px;
	font-weight: normal;
	color: #fff;
	text-decoration: underline;
	text-align: center;
}