.block-header {
	background-color: #006873;
}

.header-wrapper {
	font-size: 0;
}

.header-menu-toggle {

	width: 15%;
	min-width: 43px;
	display: inline-block;
	vertical-align: top;
	height: 54px;
	background-color: #004c54;
	border-right: 1px solid #459199;
	cursor: pointer;
}

.header-menu-toggle::after {
	content: '';
	display: block;
	width: 23px;
	height: 16px;
	margin: 20px auto;
	background: url("../../images/sprite.png") -493px -5px no-repeat;
}

.header-logo-wrapper {
	width: 70%;
	padding: 7px 0;
	display: inline-block;
	vertical-align: top;
}

.header-logo {
	text-align: center;
}

.header-sign {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	min-width: 43px;
	height: 54px;
	background-color: #004c54;
	border-left: 1px solid #459199;
	cursor: pointer;
}

.header-sign::after {
	content: '';
	display: block;
	width: 26px;
	height: 26px;
	margin: 14px auto;
	background: url("../../images/sprite.png") -1035px -5px no-repeat;
}

.header-sign.logged::after {

}
