.block-newsBlog {
	padding: 0 15px;
	padding-bottom: 44px;
	font-size: 13px;
	background-color: #f9f4f4;
}

.newsBlog-navigation {
	margin-bottom: 40px;
	font-size: 0;
}

.newsBlog-title {
	margin-bottom: 17px;
}

.newsBlog-navigation li {
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.newsBlog-navigation .item {
	display: block;
	padding: 0 5px;
	font-size: 11px;
	line-height: 14px;
	font-weight: 600;
	text-align: center;
}

.newsBlog-navigation .item .image {
	width: 100%;
	height: 72px;
}

.newsBlog-navigation .item1 .image {
	width: 100%;
	height: 72px;
	background:	url("../../images/blog-img2.png") center center no-repeat;
}

.newsBlog-navigation .item2 .image {
	width: 100%;
	height: 72px;
	background:	url("../../images/blog-img1.png") center center no-repeat;
}

.newsBlog-navigation .item3 .image {
	width: 100%;
	height: 72px;
	background:	url("../../images/blog-img3.png") center center no-repeat;
}

.newsBlog-navigation .item4 .image {
	width: 100%;
	height: 72px;
	background:	url("../../images/blog-img4.png") center center no-repeat;
}

.newsBlog-add-post {
	display: inline-block;
	vertical-align: top;
	padding: 10px 17px;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	background-color: #ff9100;
	border-radius: 4px;
}

.newsBlog-items {
	padding-top: 11px;
}

.newsBlog-items .image img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.newsBlog-items .item {
	display: block;
	margin-bottom: 10px;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	overflow: hidden;
	border-radius: 4px;
}

.newsBlog-items .item:last-child {
	margin-bottom: 0;
}

.newsBlog-items .item-wrp {
	padding: 16px 16px;
	padding-bottom: 32px;
}

.newsBlog-items .title {
	font-size: 18px;
	font-weight: 600;
	text-transform: none;
	margin-bottom: 9px;
}

.newsBlog-items .autor {
	margin-bottom: 10px;
}