.block-previews {
	padding-top: 30px;
}

.previews-title {
	padding-left: 35px;
	margin-bottom: 13px;
	color: #828080;
}

.previews-title span {
	color: #26c6da;
}


/* PREVIEWS NEWS */

.previews-item.news .previews-title {
	position: relative;
}

.previews-item.news .previews-title::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 16px;
	top: 2px;
	left: 4px;
	background: url("../../images/sprite.png") -1329px -5px no-repeat;
}

.previews-main-article {
	display: block;
}

.previews-item.news {
	padding: 0 15px;
}

.main-article-img {
	position: relative;
}

.main-article-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.main-article-description {
	position: absolute;
	padding: 13px 19px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0, .5);
}

.main-article-description .title {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #fff;
}

.main-article-description .autor {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
}

.articles-wrapper {
	padding-left: 20px;
}

.previews-article {
	display: block;
	padding-top: 21px;
	padding-bottom: 11px;
	border-bottom: 1px solid #c0c0c0;
}

.previews-article:last-child {
	border-bottom: none;
}

.previews-article .title {
	margin-bottom: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #292929;
	text-transform: none;
}

.previews-article .autor {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #808080;
	text-transform: none;
}

.previews-article .text {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #191919;
	text-transform: none;
}

.previews-show-all {
	padding-top: 33px;
	text-align: right;
}

.previews-show-all a {
	width: 109px;
	display: inline-block;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #fff;
	background-color: #26c6da;
	padding: 7px 0;
	text-align: center;
}


/* PREVIEWS OBJECTS */

.previews-item.objects {
	padding: 0 15px;
	padding-top: 28px;
	background-color: #f9f4f4;
}

.previews-item.objects .previews-title {
	position: relative;
}

.previews-item.objects .previews-title::after {
	position: absolute;
	content: '';
	width: 22px;
	height: 15px;
	top: 2px;
	left: 4px;
	background: url("../../images/sprite.png") -975px -5px no-repeat;
}

.previews-item.objects .select {
	width: 100%;
	padding: 5px 0px;
	margin-bottom: 15px;
	color: #fff;
	background-color: #004c54;
}

.previews-item.objects .slide{
	display: block;
	padding-bottom: 20px;
	border: 2px solid #ffa726;
	border-radius: 4px;
	background-color: #fff;
}

.previews-item.objects .slide-img {
	padding: 18px 0;
}

.previews-item.objects .slide-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.previews-item.objects .slide-description {
	padding: 0 18px;
}

.previews-item.objects .slide-description-title{
	margin-bottom: 8px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
}

.previews-item.objects .slide-description-text{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #686868;
}

.previews-item.objects .slide-description-testimonials .text {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 30px;
	font-weight: normal;
	color: #686868;
	text-decoration: underline;
}

.previews-show-all.objects {
	background-color: #f9f4f4;
}


/* PREVIEWS FOTO */

.previews-item.photos {
	padding: 0 15px;
	padding-top: 21px;
}

.previews-item.photos .previews-title {
	margin-bottom: 19px;
}

.previews-item.photos .previews-title {
	position: relative;
}

.previews-item.photos .previews-title::after {
	position: absolute;
	content: '';
	width: 24px;
	height: 24px;
	top: -4px;
	left: 1px;
	background: url("../../images/sprite.png") -1496px -5px no-repeat;
}

.previews-item.photos .photo-wrapper {
	width: 280px;
	margin: 0 auto;
}

.previews-item.photos .big-photo {
	margin-bottom: 5px;
}

.previews-item.photos .big-photo	a{
	display: block;
}

.previews-item.photos img {
	width: 100%;
}

.previews-item.photos .mini-photo {

}

.previews-item.photos .mini-photos {
	font-size: 0;
}

.previews-item.photos .mini-photos img {
	height: 90px;
}


.previews-item.photos .mini-photos a {
	display: inline-block;
	vertical-align: top;
	width: 33.33333333%;
	height: 90px;
	padding-right: 3px;
}

.previews-item.photos .mini-photos a.all {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	padding: 25px 18px;
	background-color: #ffa726;
}

.previews-item.photos .mini-photos a.all span {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
}


/* PREVIEWS VIDEO */

.previews-item.video {
	padding-top: 25px;
	background-color: #f9f4f4;
}

.previews-item.video .previews-title {
	padding-left: 50px;
}

.previews-item.video .previews-title {
	position: relative;
}

.previews-item.video .previews-title::after {
	position: absolute;
	content: '';
	width: 21px;
	height: 24px;
	top: -3px;
	left: 16px;
	background: url("../../images/sprite.png") -2747px -10px no-repeat;
}

.previews-item.video .slider-wrapper{
	width: 320px;
	height: 193px;
	margin: 0 auto;
	background-image: url("../../images/video-sample.jpg");
}


/* PREVIEWS BLOGS */

.previews-item.blogs {
	background-color: #f9f4f4;
}

.previews-item.blogs .previews-title {
	padding-left: 43px;
}

.previews-item.blogs .previews-title {
	position: relative;
}

.previews-item.blogs .previews-title::after {
	position: absolute;
	content: '';
	width: 21px;
	height: 17px;
	top: 0;
	left: 12px;
	background: url("../../images/sprite.png") -1645px -5px no-repeat;
}

.previews-item.blogs .slider-wrapper {
	padding-top: 22px;
}

.previews-item.blogs {
	padding-top: 27px;
}

.previews-item.blogs .blogs-wrapper {
	position: relative;
	padding-left: 60px;
	margin-bottom: 26px;
}

.previews-item.blogs .blogs-date {
	color: #747373;
}

.blogs-items {
	padding: 0 15px;
}

.blogs-item {
	display: block;
	margin-bottom: 31px;
}

.blogs-content {
	display: block;
}

.blogs-item:last-child {
	margin-bottom: 0;
}

.blogs-item .blogs-img {
	margin-bottom: 16px;
	text-align: center;
}

.blogs-item .blogs-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
} 

.blogs-foto {
	position: absolute;
	content: '';
	width: 52px;
	height: 52px;
	top: -8px;
	left: 0;
}

.blogs-name {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
}

.blogs-date {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
}

.blogs-item.sec1 .blogs-foto {
	background:	url("../../images/avatar3.png") 0 0 no-repeat;
}

.blogs-item.sec2 .blogs-foto {
	background:	url("../../images/avatar2.png") 0 0 no-repeat;
}

.blogs-text {
	padding-left: 10px;
}

.previews-item.blogs .blogs-title {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
}

.previews-item.blogs .blogs-description {
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #949393;
}
