.block-previews {
	padding: 0 15px;
	padding-top: 27px;
	font-size: 13px;
}

.previews-title {
	padding-left: 35px;
	padding-right: 45px;
	margin-bottom: 13px;
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	text-transform: uppercase;
	color: #828080;
}

.previews-title span {
	color: #26c6da;
}

.block-previews .show-all {
	padding-top: 38px;
	margin-right: -15px;
	text-align: right;
}

.block-previews .show-all a {
	display: inline-block;
	vertical-align: top;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: normal;
	color: #fff;
	background-color: #26c6da;
	padding: 7px 18px;
	text-align: center;
}


/* PREVIEWS NEWS */

.previews-news {
	position: relative;
}

.previews-news .news-title {
	padding-right: 30px;
	position: relative;
}

.previews-news .news-title::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 16px;
	top: 2px;
	left: 4px;
	background: url("../../images/sprite.png") -1329px -5px no-repeat;
}

.objects-form-wrapper {
	margin-bottom: 14px;
}

.previews-news.news-main-article {
	display: block;
}

.previews-news .main-article-img {
	position: relative;
}

.previews-news .main-article-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.previews-news .main-article-description {
	position: absolute;
	padding: 13px 19px;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0, .5);
}

.previews-news .main-article-description .title {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #fff;
}

.previews-news .main-article-description .autor {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: 500;
	color: #fff;
}

.news-articles-wrapper {
	padding-left: 20px;
}

.news-article {
	display: block;
	padding-top: 21px;
	padding-bottom: 11px;
	border-bottom: 1px solid #c0c0c0;
}

.news-article:last-child {
	border-bottom: none;
}

.news-article .title {
	margin-bottom: 4px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #292929;
	text-transform: none;
}

.news-article .autor {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 24px;
	font-weight: normal;
	color: #808080;
	text-transform: none;
}

.news-article .text {
	font-weight: normal;
	color: #191919;
	text-transform: none;
}

.news-slider-controls .news-slider-prev {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 4px;
	right: 46px;
	border: none;
	background: url("../../images/sprite.png") -2019px -5px no-repeat;
	cursor: pointer;
}

.news-slider-controls .news-slider-next {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 4px;
	right: 17px;
	border: none;
	background: url("../../images/sprite.png") -2035px -5px no-repeat;
	cursor: pointer;
}

/* PREVIEWS OBJECTS */

.previews-objects {
	position: relative;
	padding: 0 15px;
	margin-right: -15px;
	margin-left: -15px;
	padding-top: 28px;
	background-color: #f9f4f4;
}

.previews-objects .objects-title {
	position: relative;
}

.previews-objects .objects-title::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 15px;
	top: 2px;
	left: 4px;
	background: url("../../images/sprite.png") -975px -5px no-repeat;
}

.previews-objects .objects-form-wrapper select	{
	width: 100%;
	padding: 5px 0px;
	padding-right: 32px;
	padding-left: 13px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background: #004c54 url("../../images/profile-select-dwn.png") right 11px top 50% / 10px no-repeat
}

.previews-objects .objects-form-wrapper .select-wrp {
	position: relative;
}

.previews-objects .objects-form-wrapper .select-wrp::after {
	position: absolute;
	content: '';
	width: 1px;
	height: 30px;
	top: 0;
	right: 32px;
	background-color: #c4c4c4;
	cursor: pointer;
}

.previews-objects .objects-slide {
	display: block;
	position: relative;
	padding-bottom: 26px;
	border: 2px solid #ffa726;
	border-radius: 4px;
	background-color: #fff;
}

.previews-objects .objects-category-title {
	display: inline;
	position: absolute;
	top: 9px;
	left: 0;
	color: #fff;
	font-weight: 600;
	padding: 6px 0;
	padding-left: 70px;
	padding-right: 13px;
	background-color: #ffa726;
	white-space: nowrap;
}

.objects-keywords {
	position: absolute;
	width: 100%;
	padding: 0 15px;
	font-size: 0;
	top: 30%;
	left: 0;
}

.objects-keywords .keywords-wrp {
	width: 260px;
	margin: 0 auto;
}

.objects-keywords	.keyword {
	margin-right: 3px;
	margin-bottom: 3px;
	padding: 3px 3px;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	display: inline-block;
	vertical-align: top;
	background-color: #26c6da;

}

.objects-keywords	.keyword:last-child {
	margin-right: 0;
}


.previews-objects .objects-category-title::after {
	position: absolute;
	content: '';
	top: -3px;
	left: 5px;
	width: 54px;
	height: 43px;
	background: url("../../images/sprite.png") -1071px -5px no-repeat;
}

.previews-objects .objects-image {
	display: block;
	padding: 18px 0;
}

.previews-objects .objects-image img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.previews-objects .objects-description {
	padding: 0 18px;
}

.previews-objects .objects-description .description-title {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
}

.previews-objects .objects-description .description-text {
	margin-bottom: 4px;
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #686868;
}

.previews-objects .objects-testimonials {
	font-size: 0;
}

.previews-objects .objects-testimonials .text {
	margin-right: 10px;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	color: #686868;
	text-decoration: underline;
}

.previews-objects .objects-likes {
	display: inline-block;
	vertical-align: top;
}

.objects-likes .like {
	display: inline-block;
	vertical-align: top;
	width: 17px;
	height: 13px;
	background: url("../../images/sprite.png") -948px -5px no-repeat;
}

.previews-objects .show-all {
	padding-top: 29px;
	margin-right: -15px;
	text-align: right;
}

.objects-slider-controls .objects-slider-prev {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 32px;
	right: 46px;
	border: none;
	background: url("../../images/sprite.png") -2019px -5px no-repeat;
	cursor: pointer;
}

.objects-slider-controls .objects-slider-next {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 32px;
	right: 17px;
	border: none;
	background: url("../../images/sprite.png") -2035px -5px no-repeat;
	cursor: pointer;
}

/* PREVIEWS FOTO */

.previews-photos {
	position: relative;
	padding-top: 21px;
}

.previews-photos .photos-title {
	position: relative;
	margin-bottom: 19px;
}

.previews-photos .photos-title::after {
	position: absolute;
	content: '';
	width: 24px;
	height: 24px;
	top: -4px;
	left: 1px;
	background: url("../../images/sprite.png") -1496px -5px no-repeat;
}

.previews-photos .photos-item {
	display: block;
	width: 290px;
	margin: 0 auto;
	background-color: #fff;
}

.previews-photos .big-photo img {
	width: 100%;
	display: block;
}

.previews-photos .mini-photos img {
	display: block;
}

.previews-photos .mini-photos {
	padding: 0 5px;
	font-size: 0;
}

.previews-photos .mini-photos .itm {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
}

.previews-photos .mini-photos .itm:nth-child(3n) {
	margin-right: 0;
}

.previews-photos .mini-photos .all {
	width: 90px;
	height: 89px;
	padding: 22px 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	background-color: #ffa726;
	text-align: center;
}

.previews-photos .mini-photos .all span {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
}

.photos-slider-controls .photos-slider-prev {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 26px;
	right: 46px;
	border: none;
	background: url("../../images/sprite.png") -2019px -5px no-repeat;
	cursor: pointer;
}

.photos-slider-controls .photos-slider-next {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 26px;
	right: 17px;
	border: none;
	background: url("../../images/sprite.png") -2035px -5px no-repeat;
	cursor: pointer;
}


/* PREVIEWS VIDEO */

.previews-video {
	position: relative;
	padding-top: 25px;
	background-color: #f9f4f4;
	margin-right: -15px;
	margin-left: -15px;
}

.previews-video .video-title {
	padding-left: 50px;
}

.previews-video .video-title {
	position: relative;
}

.previews-video .video-title::after {
	position: absolute;
	content: '';
	width: 21px;
	height: 24px;
	top: -3px;
	left: 16px;
	background: url("../../images/sprite.png") -2747px -10px no-repeat;
}

.previews-video .video-sample img {
	width: 100%;
	max-width: 100%;
	height: auto;
} 

.video-slider-controls .video-slider-prev {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 30px;
	right: 46px;
	border: none;
	background: url("../../images/sprite.png") -2019px -5px no-repeat;
	cursor: pointer;
}

.video-slider-controls .video-slider-next {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 30px;
	right: 17px;
	border: none;
	background: url("../../images/sprite.png") -2035px -5px no-repeat;
	cursor: pointer;
}

.previews-video .video-show-all {
	margin-right: 0;
}

/* PREVIEWS Events */

.block-previews .block-events {
	margin-right: -15px;
	margin-left: -15px;
}


/* PREVIEWS BLOGS */

.previews-blogs {
	position: relative;
	padding-top: 27px;
	margin-right: -15px;
	margin-left: -15px;
	background-color: #f9f4f4;
}

.previews-blogs .blogs-title {
	position: relative;
	padding-left: 43px;
}

.previews-blogs .blogs-title::after {
	position: absolute;
	content: '';
	width: 21px;
	height: 17px;
	top: 0;
	left: 12px;
	background: url("../../images/sprite.png") -1645px -5px no-repeat;
}

.previews-blogs .blogs-slider-wrapper {
	padding-top: 22px;
}

.previews-blogs .blogs-wrapper {
	position: relative;
	padding-left: 60px;
	margin-bottom: 26px;
}

.previews-blogs .blogs-date {
	color: #747373;
}

.previews-blogs .blogs-items {
	padding: 0 15px;
}

.previews-blogs .blogs-item {
	display: block;
	padding-top: 12px;
	margin-bottom: 31px;
}

.previews-blogs .blogs-content {
	display: block;
}

.previews-blogs .blogs-item:last-child {
	margin-bottom: 0;
}

.blogs-item .blogs-img {
	margin-bottom: 16px;
	text-align: center;
}

.previews-blogs .blogs-item .blogs-img img {
	width: 100%;
	max-width: 100%;
	height: auto;
} 

.previews-blogs .blogs-foto {
	position: absolute;
	content: '';
	width: 52px;
	height: 52px;
	top: -8px;
	left: 0;
}

.previews-blogs .blogs-name {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
}

.previews-blogs .blogs-date {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
}

.previews-blogs .blogs-item.sec1 .blogs-foto {
	background:	url("../../images/avatar3.png") 0 0 no-repeat;
}

.previews-blogs .blogs-item.sec2 .blogs-foto {
	background:	url("../../images/avatar2.png") 0 0 no-repeat;
}

.previews-blogs .blogs-text {
	padding-left: 10px;
}

.previews-blogs .blogs-text .blogs-text-title {
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
	color: #000;
}

.previews-blogs .previews-item.blogs .blogs-description {
	font-size: 13px;
	line-height: 21px;
	font-weight: normal;
	color: #949393;
}

.previews-blogs .blogs-show-all {
	margin-right: 0;
}

.blogs-slider-controls .blogs-slider-prev {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 30px;
	right: 46px;
	border: none;
	background: url("../../images/sprite.png") -2019px -5px no-repeat;
	cursor: pointer;
}

.blogs-slider-controls .blogs-slider-next {
	position: absolute;
	width: 6px;
	height: 15px;
	top: 30px;
	right: 17px;
	border: none;
	background: url("../../images/sprite.png") -2035px -5px no-repeat;
	cursor: pointer;
}