.block-profile {
	padding: 0 15px;
	padding-top: 16px;
	padding-bottom: 64px;
	font-size: 13px;
	background-color: #f9f4f4;
}

.block-profile .profile-top {
	margin-bottom: 27px;
	border: 1px solid #26c6da;
}

.block-profile .profile-top img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-profile .profile-top .photo {
	text-align: center;
	background-color: #ededed;
}

.block-profile .profile-top .description {
	position: relative;
	padding: 7px 69px;
	font-weight: 600;
	color: #fff;
	background-color: #26c6da;
}

.block-profile .profile-top .description::after {
	position: absolute;
	content: '';
	width: 54px;
	height: 43px;
	top: -5px;
	left: 6px;
	background: url("../../images/sprite.png") -1071px -5px no-repeat;
}

.block-profile .profile-rating {
	padding-left: 14px;
	margin-bottom: 29px;
}

.block-profile .profile-rating .title {
	margin-bottom: 6px;
	font-size: 13px;
	font-weight: normal;
	text-transform: none;
}

.block-profile .profile-rating .num, .profile-rating .items {
	display: inline-block;
	vertical-align: top;
}

.block-profile .profile-rating .num {
	margin-right: 31px;
}

.block-profile .profile-rating .items {
	font-size: 0;
}

.block-profile .profile-rating .item {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.block-profile .rating-sum {
	margin-bottom: 10px;
}

.block-profile .rating-sum .item {
	width: 13px;
	height: 13px;
	background: url("../../images/sprite.png") -91px -56px no-repeat;
}

.block-profile .rating-month .item {
	width: 13px;
	height: 13px;
	background: url("../../images/sprite.png") -115px -56px no-repeat;
}

.block-profile .profile-categories .categories-wrp {
	margin-bottom: 25px;
}

.block-profile .profile-categories .row {
	font-size: 0;
}

.block-profile .profile-categories .item {
	padding: 5px 0px;
	font-size: 13px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	border: 1px solid #26c6da;
}

.block-profile .profile-categories .item a {
	display: inline-block;
	vertical-align: top;
	color: #26c6da;
	border-bottom: 1px dashed #26c6da;
}

.block-profile .profile-categories .item.active{
	background-color: #26c6da;
}

.block-profile .profile-categories .item.active a{
	color: #fff;
}

.block-profile .profile-categories .row1 .item {
	border-left: none;
}

.block-profile .profile-categories .row1 .item:first-child {
	border-left: 1px solid #26c6da;
}

.block-profile .profile-categories .row1 .item1 {
	width: 40%;
}

.block-profile .profile-categories .row1 .item2 {
	width: 30%;
}

.block-profile .profile-categories .row1 .item3 {
	width: 30%;
}

.block-profile .profile-categories .row2 .item {
	border-top: none;
	border-left: none;
}

.block-profile .profile-categories .row2 .item:first-child {
	border-top: none;
	border-left: 1px solid #26c6da;
}

.block-profile .profile-categories .row2 .item1 {
	width: 50%;
}

.block-profile .profile-categories .row2 .item2 {
	width: 25%;
}

.block-profile .profile-categories .row2 .item3 {
	width: 25%;
}

.block-profile .show-item {
	margin-bottom: 29px;
}

.block-profile .categories-show .autor {
	position: relative;
	padding-left: 60px;
	margin-bottom: 22px;
}

.block-profile .categories-show .foto {
	position: absolute;
	content: '';
	width: 52px;
	height: 52px;
	top: -8px;
	left: 0;
}

.block-profile .categories-show .name {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
}

.block-profile .categories-show .date {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000;
}

.block-profile .categories-show .foto {
	background:	url("../../images/avatar.png") 0 0 no-repeat;
}

.block-profile .categories-show .photo-wrapper {
	display: block;
	width: 290px;
	margin: 0 auto;
	background-color: #fff;
}

.block-profile .categories-show .big-photo img {
	width: 100%;
	display: block;
}

.categories-show .mini-photos img {
	display: block;
}

.block-profile .categories-show .mini-photos {
	padding: 0 5px;
	font-size: 0;
}

.block-profile .categories-show .mini-photos .itm {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-bottom: 5px;
}

.block-profile .categories-show .mini-photos .itm:nth-child(3n) {
	margin-right: 0;
}

.block-profile .categories-show .mini-photos .all {
	width: 90px;
	height: 89px;
	padding: 22px 18px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	background-color: #ffa726;
	text-align: center;
}

.block-profile .categories-show .mini-photos .all span {
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 18px;
	font-weight: bold;
	color: #fff;
}

.block-profile .show-more-albums .more-albums-wrp {
	width: 290px;
	height: 78px;
	margin: 0 auto;
	background: url("../../images/gray-br.png") 0 0 no-repeat;
	background-size: 100%;
	text-align: center;
}

.block-profile .show-more-albums .more-albums-btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 13px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	border: none;
	background: #00c925 url() 0 0 no-repeat;
	padding: 9px 0;
	padding-left: 40px;
	padding-right: 17px;
	margin: 17px 0;
	border-radius: 5px;
}

.block-profile .show-more-albums .more-albums-btn::after {
	position: absolute;
	content: '';
	width: 30px;
	height: 28px;
	top: 5px;
	left: 6px;
	background: url("../../images/sprite.png") -1605px -5px no-repeat;
}

.block-profile .profile-user {
	margin-bottom: 41px;
	border: 1px solid #eeeeee;
	background-color: #fff;
}

.block-profile .profile-user img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-profile .profile-user .profile-wrp {
	padding: 14px 13px;
}

.block-profile .profile-user .name {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #26c6da;
}

.block-profile .profile-user .since {
	margin-bottom: 5px;
}

.block-profile .profile-user .dating {
	margin-bottom: 12px;
	padding-left: 26px;
}

.block-profile .profile-user .dating a{
	position: relative;
	color: #004c54;
	text-decoration: underline;
}

.block-profile .profile-user .dating a::after {
	position: absolute;
	content: '';
	width: 18px;
	height: 18px;
	top: 0;
	left: -25px;
	background: url("../../images/sprite.png") -3076px -10px no-repeat;
}

.block-profile .profile-user .settings {
	margin-bottom: 17px;
	padding-left: 26px;
}

.block-profile .profile-user .settings a{
	position: relative;
	color: #26c6da;
	text-decoration: underline;
}

.block-profile .profile-user .settings a::after {
	position: absolute;
	content: '';
	width: 19px;
	height: 21px;
	top: -1px;
	left: -25px;
	background: url("../../images/sprite.png") -1990px -5px no-repeat;
}

.block-profile .profile-user select {
	width: 100%;
	padding: 7px 0px;
	padding-right: 32px;
	padding-left: 44px;
	border: none;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	background: url("../../images/profile-select-dwn.png") right 14px top 50% / 10px no-repeat, url("../../images/plus.png") 5px center no-repeat;
	background-color: #00c925;
}

.block-profile .profile-user select option {
	color: #000;
	background-color: #fff;
}

.block-profile .profile-user .image {
	border-top: 1px solid #eeeeee;
	text-align: center;
}